<!DOCTYPE html>
<html>
<head>
  <title>  LPC System</title>
</head>
<body >
<div style="padding: 100px;">

        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file1" />
            <input type="submit" id="submitButton" value="enter" />
            <br>
            <br>
            <input type="file" name="file2"  />
            <input type="submit" id="submitButton" value="prediction" />
            <td>
                <p > audio1 : <span>{{output }}</span></p>
                <br>
                <br>
                <p > audio2 :<span>{{output2 }}</span></p>
                <br>
                <br>
                <p >Hasil Eucledian  : <span>{{output3 }}</span></p>
        </form>
        
  </div>     

      

</body>
</html>